:root{
    --black: #000000ff;
    --green: #88d499ff;
    --red: #f79d92ff;
    --blue: #b2d1fdff;
    --white: #ffffffff;
    --yellow: #F8B853;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    line-height: 25px;
}
header {
    width: 100%;
    min-height: 800px;
    background-color: var(--blue);
    
    background-image: url("img/fundo/fundoHeader/quebradoFolha3.png");
    background-position: bottom;
}
header div.topoHeader{
    width: 100%;
    height: 200px;
    
    display: flex;
    justify-content:space-around;
}

header div.logoHeader img{
    width: 200px;
}
header div.linksHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
header div.menuHam{
    display: none;
}
header a{
    margin: 0px 15px;
    text-decoration: none;
}
header a:hover{
    color: var(--red);
}
header a:nth-child(4){
    border: 2px black solid;
    padding: 10px 20px;
    border-radius: 20px;

}
header a:nth-child(4):hover{
    background-color: var(--black);
}

header div.meioHeader{
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

}
header div.meioHeader div.pesquisa{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color: var(--black);
    font-weight: bold;
}
header div.meioHeader div.pesquisa input{
    width: 400px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    border-width: 0px;
}
header div.meioHeader div.pesquisa input:focus{
    border: 0px;
    box-shadow: 0 0 0 0;
    outline: 0px;
}
header div.meioHeader div.imagemHeader{
    width: 40%;
    user-select: none;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {

    header {
        min-height: 500px;
    }

    header div.topoHeader{
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    header div.topoHeader div.menuHam{
        width: 100px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    header div.topoHeader div.menuHam div{
        width: 50px;
        height: 10px;
        background-color: var(--yellow);
        border-radius: 5px;
    }
    header div.linksHeader{
        display: none;
    }

    header div.meioHeader{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    header div.meioHeader div.imagemHeader{
        width: 0%;
    }
    header div.meioHeader div.imagemHeader img{
        width: 0px;
    }

    header div.meioHeader div.pesquisa span{
        text-align: center;
    }

    header div.meioHeader div.pesquisa{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 14px;
        color: var(--black);
        font-weight: bold;
    }
    header div.meioHeader div.pesquisa input{
        width: 80%;
        min-width: 280px;
        height: 50px;
        padding: 10px 20px;
        border-radius: 50px;
        border-width: 0px;
    }
}


main{
    width: 100%;
    background-color: var(--white);
}
main .textoMain{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    gap: 50px;
}
main .textoMain .text1{
    width: 35%;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
main .textoMain .text1 h1{
    font-size: 30px;
    color: var(--yellow);
}
main .textoMain .text1 span:nth-child(2){
    max-width: 100%;
    font-size: 20px;
}
main .textoMain .text2{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;

}
main .textoMain .text2 span{
    max-width: 500px;
}
main .textoMain .text2 .buttons{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
main .textoMain .text2 .buttons a{
    text-decoration: none;
    color: var(--black);
    background-color: var(--yellow);
    padding: 20px 40px;
    border-radius: 50px;
}
main .textoMain .text2 .buttons a:hover{
    background-color: var(--blue);
}

main .empresas{
    width: 100%;
    height: 600px;
    background-image: url("img/fundo/fundoMain/cinzaDestaque.png");
    background-position: top;
}

main .empresas h2{
    text-align: center;
    padding-top: 130px;
}
main .empresas h2 span{
    color: var(--yellow);
}

main .empresas .empresasDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){
    main .textoMain{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .textoMain .text1{
        width: 100%;
    }

    main .textoMain .text1 span:nth-child(2){
        max-width: 500px;
        font-size: 20px;
    }
}
@media (max-width: 600px) {

    main .textoMain .text1{
        text-align: center;
    }
    main .textoMain .text1 span{
        padding: 0px 20px;
    }
    main .textoMain .text2{
        text-align: center;
        padding: 0px 20px;
    }
    main .textoMain .text2 .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
    }

    main .textoMain .text2 .buttons a{
        width: 150px;
        text-align: center;
    }
}



footer{
    width: 100%;
    background-image: url("img/fundo/fundoPrincipal.png");
    background-position: center;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer > .logoFooter{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer > .logoFooter img{
    width: 130px;
    height: 130px;
}
footer > .linksFooter{
    display: flex;
    justify-content: center;
}
footer > .linksFooter a{
    padding: 0px 15px;
    color: var(--black);
    text-decoration: none;
}
footer > .linksFooter a:hover{
    text-decoration: underline;
}
footer > .direitos{
    display: flex;
    justify-content: center;
    padding: 35px 0px 20px 0px;
    font-size:15px;
    color: #505050;
}